.roboto-light-white-20px {
    color: var(--white);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-m);
    font-weight: 300;
    font-style: normal;
}
.footer {
    position: fixed;
    bottom: 0px;
    align-items: center;
    display: flex;
    width: auto;    
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--endeavour);
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 4rem;
}

.footer_text {
    letter-spacing: 0;
    width: auto;
    text-align: center;
    padding-right: 10px;
}

.footer_text:last-child{
    padding-right: 0px;
}
@import url("https://fonts.googleapis.com/css?family=Roboto:400");