.navbar{
    display: flex;
    background-color: var(--endeavour);
    height: 53px;
    align-items: center;
}

.home_cart{
    display: flex;
    color: var(--white);
    font-size: var(--font-size-m);
    font-family: var(--font-family-roboto)
}

.middle{
    display: flex;
}

.middle>div{
    padding-left: 5px;
    padding-right: 5px;
}

.middle>div:nth-child(1){
    padding-left: 0px;
    padding-right: 0px;
}

.middle>div:last-child{
    padding-left: 0px;
    padding-right: 0px;
}

.loginupper{
    color:var(--white) ;
    font-size: var(--font-size-m);
    font-family: var(--font-family-roboto-light);
}

.loginbottom{
    color:var(--white) ;
    font-size: var(--font-size-m);
    font-family: var(--font-family-roboto);
}

.ordersupper{
    color:var(--white) ;
    font-size: var(--font-size-m);
    font-family: var(--font-family-roboto-light);
}

.ordersbottom{
    color:var(--white) ;
    font-size: var(--font-size-m);
    font-family: var(--font-family-roboto);
}